{% extends 'base.html.twig' %}
{% set page = 'rooms' %}
{% block stylesheets %}
    <style>
        .override-collection .collection-item {
            min-height: 0px !important;
            line-height: 2.6rem !important;
        }

        .collection .collection-item.avatar .circle {
            margin: 4px;
            height: 30px;
            width: 30px;
        }

        .collection .collection-item.avatar i.circle {
            line-height: 28px;
        }

        .card .card-content {
            padding: 5px 20px;
        }

        .room-details-list {
            list-style: none;
        }

        .room-details-list li {
            display: inline-block;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            Our Suites</h2>
        <h5 style="font-family: Serif, Roboto;color:#111;">A Great Nights Sleep</h5>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/10/7.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>
    <div class="container">
        <p class="flow-text">At Erskine Apartments we know how important a good night’s sleep is and that’s why our room
            are designed to
            ensure that our guests get a comfortable and peaceful night.</p>
        <div class="row">
            <hr>
            {% for room in rooms %}
                <section class="row">
                    <div class="card">
                        <a style="color: #444;" href="{{ path('rooms_view', { 'name' : room.name }) }}">
                            <div class="col m3">
                                <img class="responsive-img" src="/assets/images{{ room.defaultImage.source }}">
                            </div>
                            <div class="col m6">
                                <h3 style="margin-top: 5px;">{{ room.name }}</h3>
                                <p>{{ room.description }}</p>
                                <hr>
                                <ul class="room-details-list">
                                    <li><i class="material-icons">weekend</i></li>
                                    <li><i class="material-icons">wifi_tethering</i></li>
                                    <li><i class="material-icons">local_hotel</i></li>
                                    <li><i class="material-icons">local_bar</i></li>
                                    <li><i class="material-icons">local_cafe</i></li>
                                    <li><i class="material-icons">local_phone</i></li>
                                    <li><i class="material-icons">restaurant</i></li>
                                </ul>
                            </div>
                        </a>
                        <div class="col m3 center-align">
                            <h2>£{{ room.priceFrom }}</h2>
                            <button class="waves-effect waves-light btn purple accent-4 text-xs-center">Book Now
                            </button>
                        </div>
                    </div>
                </section>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock body %}