<nav class="white" style="height:64px;line-height: 64px;">
    <div class="nav-wrapper">
        <a href="{{ path('home') }}" class="brand-logo">
            <img src="/assets/images/logo.png" style="height: 64px;" alt="Erskine Appartments logo">
        </a>
        <a href="#" data-activates="mobile-navigation" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('home') }}"><i class="material-icons">&#xE88A;</i></a></li>
            <li style="font-family: 'Playfair Display', 'Roboto Light',serif;">
                <a href="#!" data-activates="rooms-dropdown" class="dropdown-button">Our Suites <i
                            class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li style="font-family: 'Playfair Display', 'Roboto Light',serif;"><a href="{{ path('services') }}">Business Stay</a></li>
            <li style="font-family: 'Playfair Display', 'Roboto Light',serif;"><a href="{{ path('contact') }}">Location</a></li>
            <li style="font-family: 'Playfair Display', 'Roboto Light',serif;"><a href="{{ path('history') }}">About</a></li>
            <li style="font-family: 'Playfair Display', 'Roboto Light',serif;"><a href="{{ path('contact') }}">Contact Us</a></li>
        </ul>
        <ul class="side-nav" id="mobile-navigation">
            <li><a href="{{ path('home') }}">Home <i class="material-icons">&#xE88A;</i></a></li>
            <li><a href="{{ path('services') }}">Services</a></li>
            <li><a href="#!" data-activates="mobile-rooms-dropdown" class="dropdown-button">The Rooms <i
                            class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{{ path('contact') }}">Contact Us</a></li>
            <li><a href="{{ path('history') }}">History</a></li>
        </ul>
    </div>
</nav>

<ul id="rooms-dropdown" class="dropdown-content">
    <li><a href="{{ path('rooms_index') }}">All Rooms</a></li>
    {% for room in navigation.getRooms %}
        <li><a href="{{ path('rooms_view', { 'name' : room.name }) }}">{{ room.number ~ " - " ~ room.name }}</a></li>
    {% endfor %}
</ul>

<ul id="mobile-rooms-dropdown" class="dropdown-content">
    <li><a href="{{ path('rooms_index') }}">All Rooms</a></li>
    {% for room in navigation.getRooms %}
        <li><a href="{{ path('rooms_view', { 'name' : room.name }) }}">{{ room.number ~ " - " ~ room.name }}</a></li>
    {% endfor %}
</ul>